.reassurance-block {
	background: url('../blockreassurance/img/bg_reassurance_block.gif') repeat-x 0 0 #c3c7cb;
}

.reassurance-block li {
	float: left;
	padding: 15px 10px !important;
	font-size: 13px;
	color: #333;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
}

.reassurance-block .width1 li {
	width: 960px;
}

.reassurance-block .width2 li {
	width: 470px;
}

.reassurance-block .width3 li {
	width: 305px;
}

.reassurance-block .width4 li {
	width: 224px;
}

.reassurance-block .width5 li {
	width: 175px;
}

.reassurance-block li img{
	float: left;
	margin-right: 10px;
}

.reassurance-block li span {
	float: left;
	padding-top: 12px;
	width: 65%;
}
