includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Parameter \#1 \$value of method ControllerCore::ajaxRender\(\) expects null, string|false given.#'
    - '#Static method ImageManagerCore::validateUpload\(\) invoked with 4 parameters, 1-3 required.#'
