includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    # From PHPStan 0.12, paths to check are relative to the neon file
    - ../../blockreassurance.php
    - ../../classes/
    - ../../controllers/
    - ../../src/
    - ../../translations/
    - ../../upgrade/
  ignoreErrors:
    - '#Call to method assign\(\) on an unknown class Smarty_Data#'
    - '#Parameter \#1 \$value of method ControllerCore::ajaxRender\(\) expects null, string\|false given.#'
    - '#Static method ImageManagerCore::validateUpload\(\) invoked with 4 parameters, 1-3 required.#'
  reportUnmatchedIgnoredErrors: false
  level: 5
