.blockreas {
    padding-top: 10px;
    text-align: center;
    width: 100%
}

.blockreas .reass-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.blockreas .block-title {
    font-weight:bold
}

.blockreas .block-icon,
.blockreas .block-icon img,
.blockreas .block-icon svg {
    height:70px
}

.blockreas_product {
    margin-top:25px
}

.blockreas_product .item-product {
    display: inline-block;
    height: 35px;
    float: left;
    margin-right: 5px;
    padding-top: 5px;
    width: 35px;
}

.blockreas_product .item-product img,
.blockreas_product .item-product svg {
    height:35px;
    width:35px;
}
