.blockreas {
    padding-top: 10px;
    text-align: center;
    width: 100%
}

.blockreas .block-title {
    font-weight:bold
}

.blockreas .block-icon,
.blockreas .block-icon img.svg {
    height:70px
}

.blockreas_product {
    margin-top:25px
}

.reass-item {
    display: inline-block;
    width: 360px;
    margin: 0px auto;
    text-align: center;
    vertical-align: top;
}

.item-product {
    float: left;
    width: 35px;
    display: inline-block;
    height: 35px;
    padding-top: 5px;
    margin-right: 5px;
}

.item-product img {
    width:35px;
}
